#root {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.nav-links-div{width: 100%; height: auto; display: flex; flex-direction: row; justify-content: space-around; color: white;}
.about-div{width: 100%; height: auto;}

/* USER details div */
.individual-user{width: fit-content; height: auto; margin: auto;margin-top: 4%; border: solid white 3px; border-radius: 5px; padding: 1% 3%; }
.user-data{margin: 2px 0px; margin-left: 0px; text-align: left;}
.users-div{width: 90%; height: auto; display: flex; margin: auto; flex-wrap: wrap; margin-bottom: 50px;}
.view-users{font-size: 25px;}
.list-of-users{padding-left: 0px;}


/* book details - SMALL */
.individual-book-details{width: fit-content; height: fit-content;  border: solid white 3px; border-radius: 5px; padding: 1% 3%; }
.book-data{margin: 2px 0px; margin-left: 0px; text-align: left;}
.book-title{color: yellow;}
.all-books-btn{font-size: 25px;}
.book-thumb-small{width: 80%; height: auto;}
.book-thumb-small:hover{cursor: pointer;}
.book-format{color: rgb(93, 170, 243);}
.all-books-btn-div{width: fit-content; height: auto; margin: auto; }
.return-to-main-div{margin-top: 50px;}
.book-info-all{width: 25%; display: flex; flex-direction: column; margin-bottom: 3%; margin: auto; margin: 4%;  border: solid rgb(224, 221, 221) 0.5px; border-radius: 5px; padding: 5px;}
.stats-and-images{display: flex; flex-direction: column; justify-content: space-around; width: fit-content; align-items: center;}


/* book detaiils - LARGE */
.book-name-large{margin-top: 5%;}
.book-data{margin: 2px 0px; margin-left: 0px; text-align: left;}
.book-thumb-large{width: 86%; height: auto; margin: auto;}
.book-thumb-large:hover{cursor: pointer;}
.book-large-div{width: 45%; display: flex; flex-direction: column;}
.genre-list{list-style: square;}
.genre-div{width: 30%; margin: left; margin-top: 20px;}
.book-info-single{width: 90%; display: flex; flex-direction: column; margin-bottom: 3%; margin: auto; margin-bottom: 4%;  border: solid rgb(182, 173, 173) 0.5px; border-radius: 5px; padding: 15px 10px;
position: relative;}
.individual-book-details{width: fit-content; height: fit-content;  border: solid white 3px; border-radius: 5px; padding: 1% 3%; }
.stats-and-images-single{display: flex; flex-direction: row; justify-content: space-around; width: fit-content; align-items: center; margin-bottom: 2%;}
.book-title{color: rgb(34, 156, 212); font-weight: bold;}
.books-div{width: 98%; height: auto; display: flex; flex-direction: row; flex-wrap: wrap;}
.book-format{color: rgb(137, 139, 139);}
.buy-url{font-size: 18px;}

.category-div{width: 90%; height: 600px; margin: auto; border: solid white 1px; border-radius: 10px; padding: 20px; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;}
.single-category{width: 200px; height: fit-content; background-color: rgb(41, 40, 40); border-radius: 4px;}
.category-img{width: 200px; height: auto;}
.category-img:hover{cursor: pointer;}
.category-link{width: 200px;}

footer{margin-top: 10%;}
.footer-content{width: 100%; height: fit-content; display: flex; flex-direction: column; align-items: center;}
.footer-links-div{width: 60%; height: auto; display: flex; flex-direction: row; justify-content: space-around;}
.selected{color: rgb(236, 233, 51); font-weight: bold; font-size: 20px; text-decoration: underline; background-color: rgb(175, 173, 173); padding: 2px 15px; border-radius: 4px; }
.input-container{width: 60%; height: auto; margin: auto; margin-bottom: 3%; }
.signup-form, .login-form, .admin-form{border: solid rgb(231, 226, 226) 1px ; box-shadow: 1px 1px 9px rgb(211, 204, 204); border-radius: 10px;  padding: 2% 2%; width: 64%; height: auto; margin: auto;}

.pagination-span{
  margin-right: 15px;
  font-size: 30px;
}
.pagination-span:hover{cursor: pointer;}

.s-pagination-previous{
  margin-right: 15px;
  font-size: 25px;
}
.s-pagination-previous:hover{cursor: pointer;}
.s-pagination-next{
  margin-left: 15px;
  font-size: 25px;
}
.s-pagination-strip{
  border: 1px solid rgb(173, 171, 171);
  padding: 25px 15px;
  border-radius: 10px;
}
.s-pagination-next:hover{cursor: pointer;}


svg{margin-left: 10px;
margin-right: 10px;
width: 15px;
}
.selected-page{border: 2px solid rgb(132, 132, 230);
padding: 0px 14px;
border-radius: 5px;

}

.main-buttons-container{
  width: 50%;
  height: fit-content;
  padding: 20px 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.validation-failed-span, .required-span{
  color: red;
  text-align: left;
}

.cancel{
  background-color: red;

}

.sign-in-banner{
  background-color: rgb(241, 110, 110);
  color: white;
}

.return-to-category-home{
  font-size: 20px;
}
.cancel:hover{background-color: rgb(236, 133, 133);}
.book-edit-holder{

width: fit-content;
background-color: rgba(255, 0, 0, 0);
height: 20%;
right: 0;
bottom: 0;
margin-right: 20px;
display: flex;
flex-direction: column;
justify-content: space-around;
border: 1px solid rgb(204, 201, 201);
border-radius: 10px;
}

.book-delete-btn, .book-edit-btn{
  margin: 15px;
}
.book-details-btns{
  width: 50%;
  margin: auto;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.delete-modal{
  width: 94%;
  height: 94%;
  position: absolute;
  top: 20px;
  background-color: rgba(150, 142, 142, 0.726);
  border: 2px solid rgb(231, 128, 128);
  border-radius: 20px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-around;



}
.delete-modal-content, .edit-modal-content{
  background-color: rgb(248, 243, 243);
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  border-radius: 20px;
}

.edit-modal-content{
  height: 80%;
}

.delete-book-image{
  width: 40%;}
  .delete-modal-btns{
    width: fit-content;
  }
  .delete-modal-btn-div{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
    
  }

  .home-link{
    font-size: 25px;
    background-color: rgba(41, 108, 223, 0.726);
    border: 1px solid rgb(202, 200, 200);
    color: white;
    padding: 4px 25px;
    border-radius: 8px;

  }
  .main-page-home-link{

    width: fit-content;
    height: auto;
    margin: auto;
    margin-top: 50px;
  }
  .genre-add-div{
    width: 60%;
    display: flex;
    justify-content: space-around;
  }
  .genre-input-div{
    display: flex;
    flex-direction: column;
  }
  .genre-add-btn{
    background-color: rgb(93, 170, 243);
  }